<!doctype html>
<html>
<head>
  <title>Add a Recipe Page!</title>
</head>
<h1> This is Add a Recipe Page </h1>
         <body>
         <p>Please fill related data to add a recipe to database. </p>
         <form method="POST" action="/recipeadded">
       <div> Recipe Name: </div>
          <input type="text" name="name" value="Recipe">
       <div> Recipe Instructions: </div>
          <input type="text" name="instructions" value="Enter the Steps here">
          <input type="submit" value="Submit">
         </form>
      </body>

<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #238228;
  }
</style>


   </html>
