<!doctype html>
<html>
<head>
  <title>Delete a Recipe Page!</title>
</head>
<h1> This is Delete a Recipe Page </h1>
         <body>
         <p>Please fill related data to delete a recipe from the database. </p>
         <form method="POST" action="/recipedeleted">
       <div> Recipe Name: </div>
          <input type="text" name="name" value="Recipe">
          <input type="submit" value="Submit">
         </form>
      </body>

<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #238228;
  }
</style>


   </html>

