<!doctype html>

    <title> Homepage!</title>

  </head>

  <h1> Home Page </h1>

  <body>

    <p>Hello and Welcome! This is the homepage of a dynamic webpage called <strong>Recipe Bank</strong>. Below is a list of pages you can visit; feel free to  register in order to add your own recipes and carry out actions such as deleting your own recipe, updating, searching and viewing the list of recipes. Remember, you would need to  <strong>login</strong> to have access to these features. Enjoy!</p>

  </body>
<a href='/login'>Login</a>

<a href='/register'>Register</a>

<a href='/addrecipe'>Add Recipe</a>

<a href='/deleterecipe'>Delete Recipe</a>

<a href='/editrecipe'>Update Recipe</a>

<a href='/list'>Recipe List</a>

<a href='/search'>Search Recipes</a>

<a href='/logout'>Log Out</a>

<a href='/api'>API</a>

<a href='/weatherform'>Weather</a>

<style>
body {
color: white;
background-color: #238228;
  }
</style>

</html>

