<!doctype html>
<html>
  <head>
    <title> Login Page!</title>
  </head>
  <h1> This is Login Page </h1>
  <body>



        <form method="POST" action="/loggedin">
                <label>Username:</label>
                <input id="username" type="text" name="username" value="" />
                 <label>Password</label>
  <input id="last" type="password" name="password" value="" />
  <input type="submit" value="login" />
</form>
  </body>
<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #FF3333;
  }
</style>

</html>
