<!doctype html>
<html>
  <head>
    <title> Register Page!</title>
  </head>
  <h1> This is Register Page </h1>
  <body>
<p>Please fill in this form to register:</p>
<form method="POST" action="/registered">
<label>Username</label>
  <input id="username" type="text" name="username" value="username" />
<label>Password </label>
  <input id="password" type="password" name="password" value="password" />
	<label>Email</label>

  <input id="email" type="email" name="email" value="email" />
  <input type="submit" value="OK" />
</form>  
</body>
<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #FF3333;
  }
</style>

</html>
